/.curseclient
/.mixin.out
/asm
/assets
/crafttweaker.log
/downloads
/journeymap
/llibrary
/local
/logs
/manifest.json
/minecraftinstance.json
/modlist.html
/mods
/options.txt
/optionsof.txt
/patchouli_books
/patchouli_data.json
/resourcepacks
/saves
/scripts
/shaderpacks
/snapshots-server
/structures
/TombManyGraves
/usercache.json
/usernamecache.json