# Configuration file

####################
# bonepile
####################

bonepile {
    S:biomegroups <BONEPILE_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# boulderer
####################

boulderer {
    S:biomegroups <BOULDERER_DEFAULT>
    B:canSpawn=true
    I:frequency=60
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# damcell
####################

damcell {
    S:biomegroups <DAMCELL_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# fakevessel
####################

fakevessel {
    S:biomegroups <FAKEVESSEL_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# frostashfox
####################

frostashfox {
    S:biomegroups <FROSTASHFOX_DEFAULT>
    B:canSpawn=true
    I:frequency=7
    I:maxChunk=8
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# frostwalker
####################

frostwalker {
    S:biomegroups <FROSTWALKER_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# ghost
####################

ghost {
    S:biomegroups <GHOST_DEFAULT>
    B:canSpawn=true
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# giantzombie
####################

giantzombie {
    S:biomegroups <GIANTZOMBIE_DEFAULT>
    B:canSpawn=true
    I:frequency=2
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# lilvessel
####################

lilvessel {
    S:biomegroups <LILVESSEL_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# nekros
####################

nekros {
    S:biomegroups <NEKROS_DEFAULT>
    B:canSpawn=true
    I:frequency=10
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# netherhound
####################

netherhound {
    S:biomegroups <NETHERHOUND_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# owlstack
####################

owlstack {
    S:biomegroups <OWLSTACK_DEFAULT>
    B:canSpawn=true
    I:frequency=40
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# riftedenderman
####################

riftedenderman {
    S:biomegroups <RIFTEDENDERMAN_DEFAULT>
    B:canSpawn=true
    I:frequency=4
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# sandmonster
####################

sandmonster {
    S:biomegroups <SANDMONSTER_DEFAULT>
    B:canSpawn=true
    I:frequency=1
    I:maxChunk=1
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# vessel
####################

vessel {
    S:biomegroups <VESSEL_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


####################
# zealot
####################

zealot {
    S:biomegroups <ZEALOT_DEFAULT>
    B:canSpawn=true
    I:frequency=20
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=1
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


